* {
    /* font-family: Arial, Helvetica, sans-serif; */

}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CAF0F8;


}

.index_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top: 2px solid #1F1717;
    color: #FCF5ED;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #1F1717;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: #0077B6;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    transition: 1s;
}

button:hover {
    transition: 1s;
    background-color: #90E0EF;
    color: #1F1717;
    border: 2px solid black;
}

