<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B+ Tree Visualization</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='index_style.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
        <h1>Welcome to B+ Tree Visualization</h1>
    </div>
    <div class="main-body">
        <form id="treeForm" method="POST" action="/">
            <div class="form-group">
                <label for="treeOrder">Tree order:</label>
                <input type="number" id="treeOrder" name="treeOrder" min="3" placeholder="Enter max degree" required list="numberList">
                <datalist id="numberList">
                    <script>
                        const datalist = document.getElementById('numberList');
                        for (let i = 3; i <= 100; i++) {
                            const option = document.createElement('option');
                            option.value = i;
                            datalist.appendChild(option);
                        }
                    </script>
                </datalist>
            </div>
            <div class="form-group">
                <label for="treeType">Tree keys type:</label>
                <select id="treeType" name="treeType" required>
                    <option value="numeric">Int</option>
                    <option value="string">Other(considered as string)</option>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
